In [3]:
# Import pandas
import pandas as pd

#Load your dataset into a dataframe
# Read the file into a DataFrame: df
df = pd.read_csv('data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

#Visually inspect our dataframe using head method
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,06/11/2021,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,06/13/2021 12:00:00 AM,Not agree,Not agree
2,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
3,05/09/2021,PW,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,05/10/2021 02:15:36 PM,NaN,NaN
4,06/25/2021,MP,183,183.0,0.0,0,0.0,2,2.0,0.0,0,0.0,06/27/2021 12:00:00 AM,Agree,Agree

In [4]:
df.describe()

,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
count,4.062000e+04,2.165800e+04,21586.000000,40620.000000,36619.000000,40620.000000,21456.000000,21456.000000,40620.000000,36558.000000
mean,3.270867e+05,3.518881e+05,44132.616325,1177.308789,179.916956,6089.695889,6852.889914,690.786913,18.776317,1.798457
std,5.904480e+05,5.578924e+05,67955.665252,2539.038273,519.461110,10201.671857,9301.262655,1084.994076,45.749237,27.977286
min,0.000000e+00,0.000000e+00,0.000000,-10199.000000,-10733.000000,0.000000,0.000000,0.000000,-352.000000,-2594.000000
25%,5.164250e+03,3.244450e+04,9.000000,27.000000,0.000000,111.000000,735.750000,0.000000,0.000000,0.000000
50%,1.003940e+05,1.514900e+05,7817.500000,343.000000,3.000000,1829.500000,3439.500000,204.000000,4.000000,0.000000
75%,4.223970e+05,4.921142e+05,62210.500000,1248.000000,141.000000,7713.000000,9435.000000,885.000000,18.000000,1.000000
max,5.036998e+06,4.780867e+06,377996.000000,61016.000000,16591.000000,73365.000000,71408.000000,5208.000000,1178.000000,2919.000000

In [5]:
df.tail()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
40615,06/07/2020,SD,5438,NaN,NaN,71,0.0,65,64.0,1.0,0,1.0,06/08/2020 02:55:08 PM,NaN,Agree
40616,04/10/2020,TN,4678,4669.0,9.0,279,0.0,94,94.0,0.0,15,0.0,04/09/2020 12:00:00 AM,Agree,Agree
40617,09/25/2021,RMI,4,4.0,0.0,0,0.0,0,0.0,0.0,0,0.0,09/27/2021 01:21:43 PM,Agree,Agree
40618,03/13/2021,IA,342495,NaN,NaN,425,77.0,5633,NaN,NaN,3,3.0,03/14/2021 01:53:25 PM,Not agree,Not agree
40619,04/22/2020,TN,7649,7624.0,25.0,288,2.0,157,157.0,0.0,5,0.0,04/21/2020 12:00:00 AM,Agree,Agree

In [6]:
import numpy as np

grouped = df.groupby('state')
for name,group in grouped:
    print(name)

AK
AL
AR
AS
AZ
CA
CO
CT
DC
DE
FL
FSM
GA
GU
HI
IA
ID
IL
IN
KS
KY
LA
MA
MD
ME
MI
MN
MO
MP
MS
MT
NC
ND
NE
NH
NJ
NM
NV
NY
NYC
OH
OK
OR
PA
PR
PW
RI
RMI
SC
SD
TN
TX
UT
VA
VI
VT
WA
WI
WV
WY

In [7]:
# get list of rows that are not states
non_state_ix = df[(df['state'] == 'AS') | (df['state'] == 'DC') |
                  (df['state'] == 'FSM') | (df['state'] == 'GU') |
                  (df['state'] == 'MP') | (df['state'] == 'NYC') |
                  (df['state'] == 'PR') | (df['state'] == 'PW') |
                  (df['state'] == 'RMI') | (df['state'] == 'VI')].index

In [8]:
# remove non states from the data
df2 = df.drop(non_state_ix)
df2.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,06/11/2021,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,06/13/2021 12:00:00 AM,Not agree,Not agree
2,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
5,05/22/2021,MA,704796,659246.0,45550.0,451,46.0,17818,17458.0,360.0,5,0.0,05/23/2021 01:37:59 PM,Agree,Agree
7,08/01/2021,GA,1187107,937515.0,249592.0,3829,1144.0,21690,18725.0,2965.0,7,0.0,08/02/2021 02:03:57 PM,Agree,Agree

In [9]:
df.shape

(40620, 15)

In [10]:
df2.shape

(33850, 15)

In [11]:
df2[['state']]

      state
0        KS
1        TX
2        AR
5        MA
7        GA
...     ...
40614    IA
40615    SD
40616    TN
40618    IA
40619    TN

[33850 rows x 1 columns]

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33850 entries, 0 to 40619
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  33850 non-null  object
 1   state            33850 non-null  object
 2   tot_cases        33850 non-null  int64
 3   conf_cases       18575 non-null  float64
 4   prob_cases       18503 non-null  float64
 5   new_case         33850 non-null  int64
 6   pnew_case        30591 non-null  float64
 7   tot_death        33850 non-null  int64
 8   conf_death       18373 non-null  float64
 9   prob_death       18373 non-null  float64
 10  new_death        33850 non-null  int64
 11  pnew_death       30530 non-null  float64
 12  created_at       33850 non-null  object
 13  consent_cases    29783 non-null  object
 14  consent_deaths   30465 non-null  object
dtypes: float64(6), int64(4), object(5)
memory usage: 4.1+ MB

In [13]:
#convert submission_date to DateTime format
df2['submission_date'] = pd.to_datetime(df2['submission_date'])
df2.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2021-03-11,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,2021-06-11,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,06/13/2021 12:00:00 AM,Not agree,Not agree
2,2020-02-04,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
5,2021-05-22,MA,704796,659246.0,45550.0,451,46.0,17818,17458.0,360.0,5,0.0,05/23/2021 01:37:59 PM,Agree,Agree
7,2021-08-01,GA,1187107,937515.0,249592.0,3829,1144.0,21690,18725.0,2965.0,7,0.0,08/02/2021 02:03:57 PM,Agree,Agree

In [14]:
submission_date_min = min(df2['submission_date'])
submission_date_max = max(df2['submission_date'])
print(submission_date_min, submission_date_max)

2020-01-22 00:00:00 2021-11-28 00:00:00

In [15]:
df3 = df2[['state', 'tot_death']].groupby('state', as_index=False).max()
df3

   state  tot_death
0     AK        847
1     AL      16120
2     AR       8653
3     AZ      22229
4     CA      73365
5     CO       9100
6     CT       8865
7     DE       2173
8     FL      61538
9     GA      30358
10    HI       1007
11    IA       7354
12    ID       3899
13    IL      29258
14    IN      17386
15    KS       6673
16    KY      10852
17    LA      14777
18    MA      19351
19    MD      11186
20    ME       1303
21    MI      25244
22    MN       9462
23    MO      15343
24    MS      10262
25    MT       2631
26    NC      18676
27    ND       1877
28    NE       3146
29    NH       1683
30    NJ      28339
31    NM       5310
32    NV       7972
33    NY      22150
34    OH      26483
35    OK      11223
36    OR       5116
37    PA      33283
38    RI       2915
39    SC      14155
40    SD       2320
41    TN      16967
42    TX      72381
43    UT       3487
44    VA      14656
45    VT        388
46    WA       9208
47    WI       9944
48    WV       4817
49    WY       1347

In [19]:
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%matplotlib inline

data = dict(type = 'choropleth',
            locations = df3['state'],
            locationmode = 'USA-states',
            text= df3['state'],
            z=df3['tot_death'],
            colorscale = 'Blues',
            colorbar = {'title':'Test'})

layout = dict(geo = {'scope':'usa'})

choromap = go.Figure(data = [data], layout = layout)

iplot(choromap)