# Importing Libraries

In [125]:
# Importing important libraries
import numpy as np
import pandas as pd

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Set default seaborn style
sns.set()

# To display graphs and save them in jupyter notebook
%matplotlib inline

# To hide warning messages in jupyter notebook
import warnings
warnings.fliterwarnings("ignore")

AttributeError: module 'warnings' has no attribute 'fliterwarnings'

# Importing Data

In [159]:
# Load the Covid case csv data into a dataframe
# Read the file into a DataFrame: df
df = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

#Visually inspect our dataframe using head method
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,06/11/2021,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,06/13/2021 12:00:00 AM,Not agree,Not agree
2,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
3,04/11/2020,AR,1234,NaN,NaN,32,NaN,27,NaN,NaN,3,NaN,04/10/2020 04:22:39 PM,Not agree,Not agree
4,08/12/2020,AS,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,08/13/2020 02:12:28 PM,NaN,NaN

In [36]:
# To view some basic statistical details Like percentile., mean., std etc. of the covid dataframe
df.describe()

,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
count,4.086000e+04,2.180600e+04,21734.000000,40860.000000,36859.000000,40860.000000,21596.000000,21596.000000,40860.000000,36798.000000
mean,3.299238e+05,3.544813e+05,44663.376231,1185.219457,181.504734,6126.389060,6868.319920,697.744027,18.819775,1.813930
std,5.945968e+05,5.610692e+05,68637.813104,2539.363418,520.344963,10259.047143,9304.750707,1089.096885,45.684207,27.925555
min,0.000000e+00,0.000000e+00,0.000000,-10199.000000,-10733.000000,0.000000,0.000000,0.000000,-352.000000,-2594.000000
25%,5.289750e+03,3.291175e+04,11.000000,29.000000,0.000000,113.000000,738.750000,0.000000,0.000000,0.000000
50%,1.014240e+05,1.527630e+05,7976.000000,350.000000,4.000000,1842.000000,3434.500000,206.000000,4.000000,0.000000
75%,4.270215e+05,4.946595e+05,62928.500000,1263.000000,144.000000,7749.000000,9449.250000,895.000000,18.000000,1.000000
max,5.077315e+06,4.815277e+06,380076.000000,61016.000000,16591.000000,73919.000000,71408.000000,5208.000000,1178.000000,2919.000000

In [98]:
# To view some basic statistical details Like percentile., mean., std etc. of the vaccination dataframe
df2.describe()

,MMWR_week,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,Distributed_Per_100k_18Plus,Distributed_Per_100k_65Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
count,23000.000000,2.300000e+04,2.300000e+04,2.300000e+04,2.300000e+04,2.300000e+04,23000.000000,23000.000000,23000.000000,2.300000e+04,...,22552.000000,2.255200e+04,22552.000000,2.255200e+04,22552.000000,22552.000000,1.984000e+03,1.984000e+03,1.984000e+03,1984.000000
mean,25.914130,1.033792e+07,5.036088e+05,4.015059e+06,5.485264e+06,3.367187e+03,86508.708435,80320.629391,107625.319348,5.016127e+05,...,5.769080,5.432283e+05,4.980676,1.238951e+06,11307.800594,14114.880232,2.260757e+06,3.417822e+06,4.923895e+05,3872.390625
std,14.825092,4.457230e+07,2.280690e+06,1.785518e+07,2.445404e+07,1.074662e+05,55963.459500,79452.718736,75315.586408,3.905297e+05,...,19.691021,7.391287e+06,17.001478,1.685308e+07,38614.413558,48048.072139,8.837910e+06,1.342261e+07,1.942555e+06,15898.287244
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,13.000000,5.296988e+05,9.000000e+02,2.020000e+04,1.800000e+03,0.000000e+00,29565.000000,0.000000,29036.000000,0.000000e+00,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,2.202012e+05,3.102332e+05,4.481600e+04,72.500000
50%,26.000000,2.292338e+06,9.885000e+04,8.997000e+05,1.071030e+06,0.000000e+00,97632.500000,105099.000000,125653.000000,5.713510e+05,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,8.307510e+05,1.117177e+06,1.519740e+05,381.500000
75%,38.000000,6.634575e+06,3.394000e+05,2.773340e+06,3.431220e+06,0.000000e+00,131694.500000,153014.000000,168531.000000,7.834700e+05,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,1.452420e+06,2.184346e+06,3.026270e+05,1681.250000
max,53.000000,5.808931e+08,2.806280e+07,2.194268e+08,3.334035e+08,8.282150e+06,211672.000000,243675.000000,285655.000000,2.745070e+06,...,99.900000,1.982022e+08,93.300000,4.663032e+08,190107.000000,223151.000000,7.200967e+07,1.101476e+08,1.591564e+07,129291.000000

In [39]:
# To get a concise summary of the covid dataframe
df.info()
# No missing value founded.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40860 entries, 0 to 40859
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  40860 non-null  object
 1   state            40860 non-null  object
 2   tot_cases        40860 non-null  int64
 3   conf_cases       21806 non-null  float64
 4   prob_cases       21734 non-null  float64
 5   new_case         40860 non-null  int64
 6   pnew_case        36859 non-null  float64
 7   tot_death        40860 non-null  int64
 8   conf_death       21596 non-null  float64
 9   prob_death       21596 non-null  float64
 10  new_death        40860 non-null  int64
 11  pnew_death       36798 non-null  float64
 12  created_at       40860 non-null  object
 13  consent_cases    34045 non-null  object
 14  consent_deaths   34731 non-null  object
dtypes: float64(6), int64(4), object(5)
memory usage: 4.7+ MB

In [96]:
# To get a concise summary of the vaccination dataframe
df2.info()
# No missing value founded.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21639 entries, 0 to 22999
Data columns (total 80 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    21639 non-null  object
 1   MMWR_week                               21639 non-null  int64
 2   Location                                21639 non-null  object
 3   Distributed                             21639 non-null  int64
 4   Distributed_Janssen                     21639 non-null  int64
 5   Distributed_Moderna                     21639 non-null  int64
 6   Distributed_Pfizer                      21639 non-null  int64
 7   Distributed_Unk_Manuf                   21639 non-null  int64
 8   Dist_Per_100K                           21639 non-null  int64
 9   Distributed_Per_100k_12Plus             21639 non-null  int64
 10  Distributed_Per_100k_18Plus             21639 non-null  int64
 11  Distributed_Per_100k_65Plus             21639 non-null  int64
 12  Administered                            21639 non-null  int64
 13  Administered_12Plus                     21639 non-null  int64
 14  Administered_18Plus                     21639 non-null  int64
 15  Administered_65Plus                     21639 non-null  int64
 16  Administered_Janssen                    21639 non-null  int64
 17  Administered_Moderna                    21639 non-null  int64
 18  Administered_Pfizer                     21639 non-null  int64
 19  Administered_Unk_Manuf                  21639 non-null  int64
 20  Admin_Per_100K                          21639 non-null  int64
 21  Admin_Per_100k_12Plus                   21639 non-null  int64
 22  Admin_Per_100k_18Plus                   21639 non-null  int64
 23  Admin_Per_100k_65Plus                   21639 non-null  int64
 24  Recip_Administered                      21639 non-null  int64
 25  Administered_Dose1_Recip                21639 non-null  int64
 26  Administered_Dose1_Pop_Pct              21639 non-null  float64
 27  Administered_Dose1_Recip_12Plus         21639 non-null  int64
 28  Administered_Dose1_Recip_12PlusPop_Pct  21639 non-null  float64
 29  Administered_Dose1_Recip_18Plus         21639 non-null  int64
 30  Administered_Dose1_Recip_18PlusPop_Pct  21639 non-null  float64
 31  Administered_Dose1_Recip_65Plus         21639 non-null  int64
 32  Administered_Dose1_Recip_65PlusPop_Pct  21639 non-null  float64
 33  Series_Complete_Yes                     21639 non-null  int64
 34  Series_Complete_Pop_Pct                 21639 non-null  float64
 35  Series_Complete_12Plus                  21639 non-null  int64
 36  Series_Complete_12PlusPop_Pct           21639 non-null  float64
 37  Series_Complete_18Plus                  21639 non-null  int64
 38  Series_Complete_18PlusPop_Pct           21639 non-null  float64
 39  Series_Complete_65Plus                  21639 non-null  int64
 40  Series_Complete_65PlusPop_Pct           21639 non-null  float64
 41  Series_Complete_Janssen                 21639 non-null  int64
 42  Series_Complete_Moderna                 21639 non-null  int64
 43  Series_Complete_Pfizer                  21639 non-null  int64
 44  Series_Complete_Unk_Manuf               21639 non-null  int64
 45  Series_Complete_Janssen_12Plus          21639 non-null  int64
 46  Series_Complete_Moderna_12Plus          21639 non-null  int64
 47  Series_Complete_Pfizer_12Plus           21639 non-null  int64
 48  Series_Complete_Unk_Manuf_12Plus        21639 non-null  int64
 49  Series_Complete_Janssen_18Plus          21639 non-null  int64
 50  Series_Complete_Moderna_18Plus          21639 non-null  int64
 51  Series_Complete_Pfizer_18Plus           21639 non-null  int64
 52  Series_Complete_Unk_Manuf_18Plus        21639 non-null  int64
 53  Series_Complete_Janssen_65Plus          21639 non-null  int64
 54  Series_Complete_Moderna_65Plus          21639 non-null  int64
 55  Series_Complete_Pfizer_65Plus           21639 non-null  int64
 56  Series_Complete_Unk_Manuf_65Plus        21639 non-null  int64
 57  Additional_Doses                        6283 non-null   float64
 58  Additional_Doses_Vax_Pct                21334 non-null  float64
 59  Additional_Doses_18Plus                 21334 non-null  float64
 60  Additional_Doses_18Plus_Vax_Pct         21334 non-null  float64
 61  Additional_Doses_50Plus                 21334 non-null  float64
 62  Additional_Doses_50Plus_Vax_Pct         21639 non-null  float64
 63  Additional_Doses_65Plus                 21334 non-null  float64
 64  Additional_Doses_65Plus_Vax_Pct         21334 non-null  float64
 65  Additional_Doses_Moderna                21334 non-null  float64
 66  Additional_Doses_Pfizer                 21334 non-null  float64
 67  Additional_Doses_Janssen                21334 non-null  float64
 68  Additional_Doses_Unk_Manuf              21334 non-null  float64
 69  Administered_Dose1_Recip_5Plus          21212 non-null  float64
 70  Administered_Dose1_Recip_5PlusPop_Pct   21212 non-null  float64
 71  Series_Complete_5Plus                   21212 non-null  float64
 72  Series_Complete_5PlusPop_Pct            21212 non-null  float64
 73  Administered_5Plus                      21212 non-null  float64
 74  Admin_Per_100k_5Plus                    21212 non-null  float64
 75  Distributed_Per_100k_5Plus              21212 non-null  float64
 76  Series_Complete_Moderna_5Plus           1891 non-null   float64
 77  Series_Complete_Pfizer_5Plus            1891 non-null   float64
 78  Series_Complete_Janssen_5Plus           1891 non-null   float64
 79  Series_Complete_Unk_Manuf_5Plus         1891 non-null   float64
dtypes: float64(31), int64(47), object(2)
memory usage: 13.9+ MB

# Data Cleaning and Organizing

In [195]:
#List all the state names in the df
grouped = df.groupby('state')
for name,group in grouped:
    print(name)

AK
AL
AR
AZ
CA
CO
CT
DE
FL
GA
HI
IA
ID
IL
IN
KS
KY
LA
MA
MD
ME
MI
MN
MO
MS
MT
NC
ND
NE
NH
NJ
NM
NV
NY
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VA
VT
WA
WI
WV
WY

In [187]:
# get list of rows that are not states
non_state_ix = df[(df['state'] == 'AS') | (df['state'] == 'DC') |
                  (df['state'] == 'FSM') | (df['state'] == 'GU') |
                  (df['state'] == 'MP') | (df['state'] == 'NYC') |
                  (df['state'] == 'RMI') | (df['state'] == 'VI')].index

In [188]:
# remove non states from the data
df = df.drop(non_state_ix)
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,06/11/2021,TX,2965966,NaN,NaN,1463,355.0,51158,NaN,NaN,17,0.0,06/13/2021 12:00:00 AM,Not agree,Not agree
2,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
3,04/11/2020,AR,1234,NaN,NaN,32,NaN,27,NaN,NaN,3,NaN,04/10/2020 04:22:39 PM,Not agree,Not agree
5,06/05/2020,HI,661,NaN,NaN,8,0.0,17,NaN,NaN,0,0.0,06/06/2020 10:31:37 AM,Not agree,Not agree

In [189]:
df[['state','tot_cases','tot_death']]

      state  tot_cases  tot_death
0        KS     297229       4851
1        TX    2965966      51158
2        AR          0          0
3        AR       1234         27
5        HI        661         17
...     ...        ...        ...
40855    IA     423850       6337
40856    OH          0          0
40857    SD     122660       1967
40858    SD     113962       1904
40859    OH    1100312      19753

[34050 rows x 3 columns]

In [191]:
#create a pivot table
df_table=pd.pivot_table(df, index='state',values=['tot_cases','tot_death'])
print(df_table)

          tot_cases     tot_death
state
AK     4.313723e+04    240.735683
AL     3.450491e+05   7158.864905
AR     2.164958e+05   3516.064611
AZ     5.271110e+05  10219.095448
CA     2.192682e+06  33876.268722
CO     3.125620e+05   4136.076358
CT     1.921324e+05   5631.204112
DE     6.197585e+04   1039.803231
FL     1.465169e+06  25182.001468
GA     6.964032e+05  12562.723935
HI     2.573711e+04    321.318649
IA     2.253564e+05   3451.790015
ID     1.185076e+05   1311.116006
IL     8.102048e+05  15622.177680
IN     4.404949e+05   8141.876652
KS     1.900866e+05   2831.704846
KY     2.823061e+05   4487.280470
LA     3.204624e+05   7297.499266
MA     3.982113e+05  11944.046990
MD     2.690200e+05   6053.923642
ME     3.616080e+04    476.314244
MI     5.701240e+05  12684.196769
MN     3.449219e+05   4490.723935
MO     3.764192e+05   5769.882526
MS     2.112418e+05   4927.497797
MT     6.780201e+04    922.888399
NC     5.973208e+05   8108.077827
ND     6.699320e+04    889.766520
NE     1.335670e+05   1345.130690
NH     5.295754e+04    807.143906
NJ     5.742070e+05  18197.340675
NM     1.203637e+05   2364.444934
NV     1.990321e+05   3356.866373
NY     6.493445e+05  12934.910426
OH     6.373133e+05  11137.669604
OK     2.789286e+05   4362.339207
OR     1.253746e+05   1639.406755
PA     6.615769e+05  16123.973568
RI     8.471980e+04   1721.428781
SC     3.616177e+05   5861.324523
SD     7.356825e+04   1116.659325
TN     5.273828e+05   7087.610866
TX     1.792096e+06  31060.396476
UT     2.420397e+05   1345.186490
VA     3.936588e+05   6350.019090
VT     1.229613e+04    150.093979
WA     2.682939e+05   3742.212922
WI     4.035526e+05   4514.559471
WV     9.425289e+04   1599.298091
WY     3.788793e+04    431.132159

In [194]:
df_table.shape

(50, 2)

In [233]:
#Rename the column Location of dataframe 2 to state to match with the dataframe 1
df2.rename(columns ={'Location':'state'},inplace= True)
df2

,Date,MMWR_week,state,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
1,12/03/2021,48,AL,7902810,367300,3408580,4126930,0,161177,188752,...,60.5,2273303.0,49.3,5301481.0,115029.0,171471.0,965748.0,1155724.0,151305.0,526.0
3,12/03/2021,48,NM,3657855,174000,1435140,2048715,0,174447,204643,...,81.9,1339328.0,67.8,3165877.0,160229.0,185129.0,526937.0,708934.0,101579.0,1878.0
4,12/03/2021,48,NH,2695150,155200,991900,1548050,0,198215,224864,...,92.8,883343.0,68.2,2152352.0,166065.0,207945.0,330971.0,475604.0,76695.0,73.0
5,12/03/2021,48,NE,3202830,141000,1161020,1900810,0,165572,198022,...,69.0,1115704.0,61.9,2617697.0,145143.0,177587.0,397416.0,633874.0,83026.0,1388.0
6,12/03/2021,48,KY,7136765,350600,2968720,3817445,0,159742,187505,...,64.5,2340607.0,55.8,5472214.0,130444.0,170123.0,927400.0,1213466.0,198252.0,1489.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22988,12/14/2020,51,MO,10725,0,0,0,0,175,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
22990,12/14/2020,51,KS,12675,0,0,0,0,435,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
22991,12/14/2020,51,NH,4875,0,0,0,0,359,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
22992,12/14/2020,51,MN,1950,0,0,0,0,35,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
22993,12/14/2020,51,OK,17550,0,0,0,0,444,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [234]:
##List all the state names in the df2
grouped = df2.groupby('state')
for name,group in grouped:
    print(name)

AK
AL
AR
AZ
CA
CO
CT
DE
FL
GA
HI
IA
ID
IL
IN
KS
KY
LA
MA
MD
ME
MI
MN
MO
MS
MT
NC
ND
NE
NH
NJ
NM
NV
NY
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VA
VT
WA
WI
WV
WY

In [235]:
# get list of rows that are not states
non_state_ix2 = df2[(df2['state'] == 'DD2') | (df2['state'] == 'FM') |
                  (df2['state'] == 'IH2') | (df2['state'] == 'MH') |
                  (df2['state'] == 'PR') | (df2['state'] == 'VA2')].index

In [236]:
# To drop RP, US, LA and BP2 by using nonStateIndices2 and committing the change with inplace to keep changes.
df2.drop(non_state_ix2, inplace=True)
# Display the new states
df2[['state']]

      state
1        AL
3        NM
4        NH
5        NE
6        KY
...     ...
22988    MO
22990    KS
22991    NH
22992    MN
22993    OK

[17750 rows x 1 columns]

In [237]:
df2[['state','Distributed','Distributed_Janssen','Distributed_Moderna','Distributed_Pfizer']]

,state,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer
1,AL,7902810,367300,3408580,4126930
3,NM,3657855,174000,1435140,2048715
4,NH,2695150,155200,991900,1548050
5,NE,3202830,141000,1161020,1900810
6,KY,7136765,350600,2968720,3817445
...,...,...,...,...,...
22988,MO,10725,0,0,0
22990,KS,12675,0,0,0
22991,NH,4875,0,0,0
22992,MN,1950,0,0,0
22993,OK,17550,0,0,0

In [238]:
#create a pivot table
df2_table=pd.pivot_table(df2, index='state',values=['Distributed','Distributed_Janssen','Distributed_Moderna','Distributed_Pfizer'])
print(df2_table)

        Distributed  Distributed_Janssen  Distributed_Moderna  \
state
AK     7.255031e+05         4.349944e+04         2.868435e+05
AL     4.155397e+06         2.035994e+05         1.814059e+06
AR     2.551954e+06         1.295862e+05         1.094664e+06
AZ     6.531144e+06         3.105135e+05         2.623217e+06
CA     3.854637e+07         1.879657e+06         1.495922e+07
CO     5.471986e+06         2.464845e+05         2.166518e+06
CT     3.752836e+06         1.797358e+05         1.473400e+06
DE     1.007986e+06         4.615465e+04         3.997678e+05
FL     2.071536e+07         1.193038e+06         8.053376e+06
GA     9.252667e+06         4.258242e+05         3.775273e+06
HI     1.521790e+06         6.096479e+04         5.772427e+05
IA     2.789020e+06         1.386485e+05         1.116977e+06
ID     1.423160e+06         7.437493e+04         5.716371e+05
IL     1.174190e+07         6.036654e+05         4.462553e+06
IN     5.464655e+06         3.016673e+05         2.082211e+06
KS     2.561851e+06         1.261186e+05         1.057468e+06
KY     3.754420e+06         1.912651e+05         1.580601e+06
LA     3.637260e+06         1.728031e+05         1.519344e+06
MA     7.357755e+06         3.182820e+05         2.892503e+06
MD     6.478663e+06         3.064093e+05         2.453903e+06
ME     1.429457e+06         7.575803e+04         5.922801e+05
MI     9.089898e+06         4.627727e+05         3.691771e+06
MN     5.158584e+06         2.476986e+05         1.980556e+06
MO     5.101907e+06         2.232177e+05         2.000997e+06
MS     2.387433e+06         1.188090e+05         9.973382e+05
MT     9.095682e+05         5.157070e+04         3.866235e+05
NC     9.476174e+06         4.653710e+05         3.734857e+06
ND     6.125680e+05         2.695718e+04         2.491844e+05
NE     1.704438e+06         7.904873e+04         6.476611e+05
NH     1.406547e+06         8.234310e+04         5.498514e+05
NJ     9.026492e+06         4.336372e+05         3.532998e+06
NM     1.959986e+06         9.936704e+04         8.067030e+05
NV     2.556903e+06         1.312420e+05         9.606717e+05
NY     1.911416e+07         8.973849e+05         7.420190e+06
OH     1.000994e+07         4.734482e+05         4.009110e+06
OK     3.394777e+06         1.635592e+05         1.429566e+06
OR     4.303179e+06         2.241307e+05         1.720564e+06
PA     1.255450e+07         7.520020e+05         5.107559e+06
RI     1.141616e+06         4.618873e+04         4.508357e+05
SC     4.402747e+06         2.257490e+05         1.824269e+06
SD     8.089189e+05         4.390592e+04         3.431596e+05
TN     5.483451e+06         2.657983e+05         2.179025e+06
TX     2.612820e+07         1.352868e+06         1.009210e+07
UT     2.619059e+06         1.227659e+05         1.024689e+06
VA     8.252777e+06         3.852566e+05         3.118633e+06
VT     7.051271e+05         3.770620e+04         2.951005e+05
WA     7.410966e+06         3.634721e+05         2.890574e+06
WI     4.982417e+06         2.309366e+05         2.000095e+06
WV     1.741462e+06         8.103803e+04         7.227923e+05
WY     4.478275e+05         2.492535e+04         2.023576e+05

       Distributed_Pfizer
state
AK           3.551667e+05
AL           2.002381e+06
AR           1.234786e+06
AZ           3.386892e+06
CA           2.053259e+07
CO           2.885810e+06
CT           1.979784e+06
DE           5.330087e+05
FL           1.081467e+07
GA           4.753273e+06
HI           8.350587e+05
IA           1.445462e+06
ID           7.296685e+05
IL           6.320016e+06
IN           2.882116e+06
KS           1.292046e+06
KY           1.854211e+06
LA           1.810730e+06
MA           3.932752e+06
MD           3.536807e+06
ME           7.175470e+05
MI           4.648455e+06
MN           2.764584e+06
MO           2.710945e+06
MS           1.186428e+06
MT           4.401037e+05
NC           4.975192e+06
ND           3.128143e+05
NE           9.162242e+05
NH           7.318560e+05
NJ           4.807650e+06
NM           9.847623e+05
NV           1.384613e+06
NY           1.021724e+07
OH           5.197821e+06
OK           1.671870e+06
OR           2.234334e+06
PA           6.312114e+06
RI           6.115036e+05
SC           2.226127e+06
SD           3.918841e+05
TN           2.843841e+06
TX           1.392464e+07
UT           1.385045e+06
VA           4.493645e+06
VT           3.509219e+05
WA           3.938486e+06
WI           2.590060e+06
WV           8.764371e+05
WY           2.019404e+05

In [212]:
df2_table.shape

(50, 4)

In [242]:
#Joining the DataFrame df_table and df2_table
df3=pd.merge(df_table, df2_table, on="state",how="inner")
df3

,tot_cases,tot_death,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer
state,,,,,,
AK,4.313723e+04,240.735683,7.255031e+05,4.349944e+04,2.868435e+05,3.551667e+05
AL,3.450491e+05,7158.864905,4.155397e+06,2.035994e+05,1.814059e+06,2.002381e+06
AR,2.164958e+05,3516.064611,2.551954e+06,1.295862e+05,1.094664e+06,1.234786e+06
AZ,5.271110e+05,10219.095448,6.531144e+06,3.105135e+05,2.623217e+06,3.386892e+06
CA,2.192682e+06,33876.268722,3.854637e+07,1.879657e+06,1.495922e+07,2.053259e+07
CO,3.125620e+05,4136.076358,5.471986e+06,2.464845e+05,2.166518e+06,2.885810e+06
CT,1.921324e+05,5631.204112,3.752836e+06,1.797358e+05,1.473400e+06,1.979784e+06
DE,6.197585e+04,1039.803231,1.007986e+06,4.615465e+04,3.997678e+05,5.330087e+05
FL,1.465169e+06,25182.001468,2.071536e+07,1.193038e+06,8.053376e+06,1.081467e+07
GA,6.964032e+05,12562.723935,9.252667e+06,4.258242e+05,3.775273e+06,4.753273e+06
HI,2.573711e+04,321.318649,1.521790e+06,6.096479e+04,5.772427e+05,8.350587e+05
IA,2.253564e+05,3451.790015,2.789020e+06,1.386485e+05,1.116977e+06,1.445462e+06
ID,1.185076e+05,1311.116006,1.423160e+06,7.437493e+04,5.716371e+05,7.296685e+05
IL,8.102048e+05,15622.177680,1.174190e+07,6.036654e+05,4.462553e+06,6.320016e+06
IN,4.404949e+05,8141.876652,5.464655e+06,3.016673e+05,2.082211e+06,2.882116e+06
KS,1.900866e+05,2831.704846,2.561851e+06,1.261186e+05,1.057468e+06,1.292046e+06
KY,2.823061e+05,4487.280470,3.754420e+06,1.912651e+05,1.580601e+06,1.854211e+06
LA,3.204624e+05,7297.499266,3.637260e+06,1.728031e+05,1.519344e+06,1.810730e+06
MA,3.982113e+05,11944.046990,7.357755e+06,3.182820e+05,2.892503e+06,3.932752e+06
MD,2.690200e+05,6053.923642,6.478663e+06,3.064093e+05,2.453903e+06,3.536807e+06
ME,3.616080e+04,476.314244,1.429457e+06,7.575803e+04,5.922801e+05,7.175470e+05
MI,5.701240e+05,12684.196769,9.089898e+06,4.627727e+05,3.691771e+06,4.648455e+06
MN,3.449219e+05,4490.723935,5.158584e+06,2.476986e+05,1.980556e+06,2.764584e+06
MO,3.764192e+05,5769.882526,5.101907e+06,2.232177e+05,2.000997e+06,2.710945e+06
MS,2.112418e+05,4927.497797,2.387433e+06,1.188090e+05,9.973382e+05,1.186428e+06
MT,6.780201e+04,922.888399,9.095682e+05,5.157070e+04,3.866235e+05,4.401037e+05
NC,5.973208e+05,8108.077827,9.476174e+06,4.653710e+05,3.734857e+06,4.975192e+06
ND,6.699320e+04,889.766520,6.125680e+05,2.695718e+04,2.491844e+05,3.128143e+05
NE,1.335670e+05,1345.130690,1.704438e+06,7.904873e+04,6.476611e+05,9.162242e+05
NH,5.295754e+04,807.143906,1.406547e+06,8.234310e+04,5.498514e+05,7.318560e+05
NJ,5.742070e+05,18197.340675,9.026492e+06,4.336372e+05,3.532998e+06,4.807650e+06
NM,1.203637e+05,2364.444934,1.959986e+06,9.936704e+04,8.067030e+05,9.847623e+05
NV,1.990321e+05,3356.866373,2.556903e+06,1.312420e+05,9.606717e+05,1.384613e+06
NY,6.493445e+05,12934.910426,1.911416e+07,8.973849e+05,7.420190e+06,1.021724e+07
OH,6.373133e+05,11137.669604,1.000994e+07,4.734482e+05,4.009110e+06,5.197821e+06
OK,2.789286e+05,4362.339207,3.394777e+06,1.635592e+05,1.429566e+06,1.671870e+06
OR,1.253746e+05,1639.406755,4.303179e+06,2.241307e+05,1.720564e+06,2.234334e+06
PA,6.615769e+05,16123.973568,1.255450e+07,7.520020e+05,5.107559e+06,6.312114e+06
RI,8.471980e+04,1721.428781,1.141616e+06,4.618873e+04,4.508357e+05,6.115036e+05
SC,3.616177e+05,5861.324523,4.402747e+06,2.257490e+05,1.824269e+06,2.226127e+06
SD,7.356825e+04,1116.659325,8.089189e+05,4.390592e+04,3.431596e+05,3.918841e+05
TN,5.273828e+05,7087.610866,5.483451e+06,2.657983e+05,2.179025e+06,2.843841e+06
TX,1.792096e+06,31060.396476,2.612820e+07,1.352868e+06,1.009210e+07,1.392464e+07
UT,2.420397e+05,1345.186490,2.619059e+06,1.227659e+05,1.024689e+06,1.385045e+06
VA,3.936588e+05,6350.019090,8.252777e+06,3.852566e+05,3.118633e+06,4.493645e+06
VT,1.229613e+04,150.093979,7.051271e+05,3.770620e+04,2.951005e+05,3.509219e+05
WA,2.682939e+05,3742.212922,7.410966e+06,3.634721e+05,2.890574e+06,3.938486e+06
WI,4.035526e+05,4514.559471,4.982417e+06,2.309366e+05,2.000095e+06,2.590060e+06
WV,9.425289e+04,1599.298091,1.741462e+06,8.103803e+04,7.227923e+05,8.764371e+05
WY,3.788793e+04,431.132159,4.478275e+05,2.492535e+04,2.023576e+05,2.019404e+05

In [243]:
#To get the info of new dataframe
df3.describe()

,tot_cases,tot_death,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer
count,5.000000e+01,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01
mean,3.825624e+05,6810.881380,6.075255e+06,3.028244e+05,2.398458e+06,3.183326e+06
std,4.267657e+05,7539.746438,7.076084e+06,3.598343e+05,2.741585e+06,3.765482e+06
min,1.229613e+04,150.093979,4.478275e+05,2.492535e+04,2.023576e+05,2.019404e+05
25%,1.189716e+05,1408.714391,1.713694e+06,8.136430e+04,6.664439e+05,8.863839e+05
50%,2.739743e+05,4489.002203,3.954909e+06,1.974323e+05,1.650582e+06,1.991083e+06
75%,5.054570e+05,8133.426946,7.397663e+06,3.521746e+05,2.892021e+06,3.937052e+06
max,2.192682e+06,33876.268722,3.854637e+07,1.879657e+06,1.495922e+07,2.053259e+07

In [244]:
# call the dtypes attributes on the df3 to get the data types of each columns.
df3.dtypes

tot_cases              float64
tot_death              float64
Distributed            float64
Distributed_Janssen    float64
Distributed_Moderna    float64
Distributed_Pfizer     float64
dtype: object

In [260]:
# To convert the datatype of each column to longlong type which is easy for viewing. 
df3['tot_cases']=df3['tot_cases'].astype('longlong') 
df3['tot_death']=df3['tot_death'].astype('longlong') 
df3['Distributed']=df3['Distributed'].astype('longlong')
df3['Distributed_Janssen']=df3['Distributed_Janssen'].astype('longlong')
df3['Distributed_Moderna']=df3['Distributed_Moderna'].astype('longlong')
df3['Distributed_Pfizer']=df3['Distributed_Pfizer'].astype('longlong')
df3

,tot_cases,tot_death,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer
state,,,,,,
AK,43137,240,725503,43499,286843,355166
AL,345049,7158,4155396,203599,1814059,2002381
AR,216495,3516,2551953,129586,1094664,1234786
AZ,527110,10219,6531144,310513,2623217,3386891
CA,2192682,33876,38546367,1879656,14959215,20532587
CO,312562,4136,5471985,246484,2166517,2885809
CT,192132,5631,3752835,179735,1473400,1979784
DE,61975,1039,1007986,46154,399767,533008
FL,1465169,25182,20715355,1193038,8053376,10814665
GA,696403,12562,9252666,425824,3775273,4753272
HI,25737,321,1521790,60964,577242,835058
IA,225356,3451,2789019,138648,1116977,1445462
ID,118507,1311,1423160,74374,571637,729668
IL,810204,15622,11741895,603665,4462552,6320016
IN,440494,8141,5464654,301667,2082210,2882115
KS,190086,2831,2561851,126118,1057467,1292046
KY,282306,4487,3754420,191265,1580600,1854211
LA,320462,7297,3637260,172803,1519343,1810730
MA,398211,11944,7357754,318281,2892502,3932751
MD,269019,6053,6478663,306409,2453903,3536806
ME,36160,476,1429456,75758,592280,717546
MI,570123,12684,9089897,462772,3691770,4648454
MN,344921,4490,5158583,247698,1980556,2764584
MO,376419,5769,5101906,223217,2000996,2710944
MS,211241,4927,2387433,118809,997338,1186428
MT,67802,922,909568,51570,386623,440103
NC,597320,8108,9476174,465370,3734856,4975192
ND,66993,889,612567,26957,249184,312814
NE,133566,1345,1704438,79048,647661,916224
NH,52957,807,1406546,82343,549851,731856
NJ,574206,18197,9026492,433637,3532998,4807649
NM,120363,2364,1959986,99367,806703,984762
NV,199032,3356,2556902,131241,960671,1384613
NY,649344,12934,19114162,897384,7420189,10217238
OH,637313,11137,10009938,473448,4009109,5197820
OK,278928,4362,3394776,163559,1429565,1671870
OR,125374,1639,4303178,224130,1720563,2234333
PA,661576,16123,12554495,752001,5107558,6312113
RI,84719,1721,1141615,46188,450835,611503
SC,361617,5861,4402747,225749,1824268,2226127
SD,73568,1116,808918,43905,343159,391884
TN,527382,7087,5483451,265798,2179025,2843840
TX,1792096,31060,26128198,1352867,10092099,13924638
UT,242039,1345,2619058,122765,1024688,1385044
VA,393658,6350,8252776,385256,3118633,4493644
VT,12296,150,705127,37706,295100,350921
WA,268293,3742,7410965,363472,2890574,3938486
WI,403552,4514,4982417,230936,2000094,2590060
WV,94252,1599,1741461,81038,722792,876437
WY,37887,431,447827,24925,202357,201940

# Data Visualization